@{
    // ViewData["Title"] = "Chúc mừng sinh nhật bé Nghi";
    ViewData["Title"] = "Second page";

}
<link href="~/css/HappyBirthday.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="panel" id="panel">
        <div class="panel-content front" id="front">
            <img draggable="false" src="~/images/birthdaycake_1.png" alt="cake1" id="cake1" class="cake1" />
        </div>
        <div class="panel-content back" id="back">
            <img draggable="false"  src="~/images/bouquet.png" alt="cake2" id="cake2" class="cake2" />
        </div>
    </div>
    <div class="content">
        <h3>Happy birthday</h3>
    </div>
</div>

<script src="~/js/HappyBirthday.js" type="text/javascript"></script>

