@{
    //ViewData["Title"] = "Iu em bé";
    ViewData["Title"] = "Home";
}
<link href="~/css/Index.css" rel="stylesheet" type="text/css" />

<div class="heart-container">
    <!--<canvas id="pinkboard"></canvas>-->
    <h1>Home Page</h1>
</div>

<script src="~/js/Index.js" type="text/javascript"></script>